.frame__author {
  display: flex;
  gap: 1.5rem;
  grid-area: author;
}

.content {
  padding: 0;
  border-radius: 24px;
}

.content--perspective {
  perspective-origin: 50% 0%;
  perspective: 1000px;
}

.text-large {
  font-size: clamp(1.5rem, 5vw, 3rem);
  max-width: 900px;
  margin: 0 0 0.85em 0;
  line-height: 1.2;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "wght" 500,
    "INKT" 100;
}

@media (max-width: 440px) {
  .content--sticky {
    width: 100vw;
    position: sticky;
    top: 0;
    --offset: 0px;
    top: var(--offset);
  }
}

.content--grid,
.content--grid .content__inner {
  display: grid;
  overflow: hidden;
  grid-column-gap: 5vw;
  grid-row-gap: 2vh;
  align-content: center;
  grid-template-areas: "content-img" "content-title" "content-text";
  justify-items: center;
}

.content--grid:has(.content__inner) {
  display: block;
  padding: 0;
}

.content__inner {
  width: 100%;
  height: 100%;
  border-radius: 0 0 2rem 2rem;
}

.content--card {
  width: 95vw;
  max-width: 100%;
  aspect-ratio: 0.8;
  top: 16vh;
  margin: auto;
  border-radius: 14px;
  min-height: 270px;
  max-height: 270px;
}

.content--card .content__title {
  font-size: clamp(1.5rem, 4vw, 3.5rem);
}

.content--card .content__title i {
  display: block;
}

.content--half {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  text-align: center;
}

.content--half:nth-child(odd) {
  margin-left: auto;
}

.content__img {
  grid-area: content-img;
  width: 50%;
  max-width: 300px;
  height: auto;
}

.content__img--large {
  width: 60%;
  height: auto;
}

.content__img--small {
  height: 35%;
  width: auto;
}

.spacer {
  margin-top: 20vh;
}

.content__title {
  grid-area: content-title;
  letter-spacing: -0.095em;
  text-transform: uppercase;
  line-height: 1;
  font-weight: normal;
  font-size: clamp(2rem, 6vw, 5rem);
  margin: 0;
  font-variation-settings:
    "slnt" 0,
    "wdth" 400,
    "wght" 900,
    "INKT" 400;
}

.content__text {
  margin: 0;
  max-width: 500px;
  grid-area: content-text;
  text-align: center;
  line-height: 1.5;
  padding: 0 1rem;
  backface-visibility: hidden;
}

.content__text--narrow {
  max-width: 300px;
}

.content--intro {
  padding-top: 25vh;
  padding-bottom: 25vh;
  z-index: 2;
}

.content--outro {
  padding-top: 50vh;
  padding-bottom: 30vh;
}

.bg-1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-3 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-4 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-5 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-6 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 440px) {
  .wrap-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .wrap-cards__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.wrap-cards-title {
  max-width: 760px;
  margin: 0 auto;
  padding: 120px 0 60px 0;
}

/*  */

html {
  scroll-behavior: smooth;
}

.ov-x {
  overflow-x: hidden;
}
 

.over-mp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100;
}

.over-mp::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.bg-video {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Helvetica Now Display", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
